certifi==2018.10.15
chardet==3.0.4
Click==7.0
filelock==3.0.10
Flask==1.0.2
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
pluggy==0.8.0
py==1.7.0
python-dotenv==0.9.1
requests==2.20.1
six==1.11.0
toml==0.10.0
tox==3.5.3
tox-pip-extensions==1.4.1
urllib3==1.24.1
virtualenv==16.1.0
Werkzeug==0.14.1
