<html>
  <body>
    <h1>Thanks for submitting, please solve captcha below</h1>
    <form method="post" action="/">
      {% for input in form%}
        {% if form[input] %}
          <input type="hidden" name="{{ input }}" value="{{ form[input] }}" />
        {% endif %}
      {% endfor %}
      <script src='//www.google.com/recaptcha/api.js'></script>
      <div class="g-recaptcha" data-sitekey="{{ config['RECAPTCHA_SITE_KEY'] }}" data-theme="light" data-type="image" data-size="normal"></div>
      <input type="submit" value="send" />
    </form>
  </body>
</html>